@{
    ViewBag.Title = "About";
}

<div class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="js-fullheight d-flex justify-content-center align-items-center">
        <div class="col-md-8 text text-center">
            <div class="desc">
                <h2 class="subheading">Hello I'm</h2>
                <h1 class="mb-4">Yan Li</h1>
                <div class="row d-flex mb-10 contact-info">
                    <div class="w-100"></div>
                    <div class="col-md-5">
                        <p>
                            <span>Phone:</span> <a href="tel://6124176318">(612)417-6318</a>
                        </p>
                    </div>
                    <div class="col-md-7">
                        <p>
                            <span>Email:</span> <a href="mailto:liyanplus@outlook.com">liyanplus@outlook.com</a>
                        </p>
                    </div>
                </div>
                <p class="mb-4">
                    Yan Li is a PhD candidate in Computer Science at the University of Minnesota – Twin Cities.
                    His research interest includes spatial computing, data mining, and machine learning.
                    He has co-authored papers published in ACM SIGSPATIAL, SSTD, GIScience, ACM TIST, ISPRS IJGI,
                    IEEE ISC2, and IEEE IV, and co-authored book chapters on spatial data science, spatial data mining,
                    and high-performance computing, and reviewed papers in IEEE TKDE, GeoInformatica,
                    ACM SIGSPATIAL, IEEE ICDM, and IEEE ASME. He got his master’s degree in Geography at the University of
                    Tennessee – Knoxville, and bachelor’s degree in Remote Sensing at Wuhan University, China.
                </p>
                <ul class="ftco-social mt-3">
                    <li class="ftco-animate">
                        <a href="https://www.linkedin.com/in/liyanplus/">
                            <span class="icon-linkedin"></span>
                        </a>
                    </li>
                    <li class="ftco-animate">
                        <a href="https://scholar.google.com/citations?user=myHZLwkAAAAJ&hl=en">
                            <span class="icon-google"></span>
                        </a>
                    </li>
                    <li class="ftco-animate">
                        <a href="https://github.umn.edu/lixx4266">
                            <span class="icon-github"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>