@{
    ViewBag.Title = "Home";
}

<div class="hero-wrap js-fullheight" style="background-image: url(/images/bg_1.jpg);"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="js-fullheight d-flex justify-content-center align-items-center">
        <div class="col-md-8 text text-center">
            <div class="img mb-4" style="background-image: url(images/author.jpg);"></div>
            <div class="desc">
                <h2 class="subheading">Hello I'm</h2>
                <h1 class="mb-4">Yan Li</h1>
                <p class="mb-4"> I am a PhD candidate (started in 2015) in Computer Science at the University of Minnosota, Twin Cities.</p>
                <p>
                    <a href="@Url.Action("About", "Home")" class="btn-custom">More About Me <span class="ion-ios-arrow-forward"></span></a>
                </p>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Research</h2>
                <p>Spatial Computing, Data Mining, and Machine Learning.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="blog-entry ftco-animate">
                    <a href="@Url.Action("Index", "Research", new {id = "RegionalColocation2018"})"
                       class="img img-2"
                       style="background-image: url(/images/Research/RegionalColocation2018/RegionalColocationMotivation.png);">
                    </a>
                    <div class="text text-2 pt-2 mt-3">
                        @* <span class="category mb-3 d-block"> *@
                        @*     <a href="#">Co-location</a> *@
                        @* </span> *@
                        <h3 class="mb-4">
                            <a href="@Url.Action("Index", "Research", new {id = "RegionalColocation2018"})">
                                Regional Co-location Pattern Detection
                            </a>
                        </h3>
                        <p class="mb-4">
                            Co-location patterns are not evenly distributed in the world.
                        </p>
                        <div class="meta-wrap align-items-center">
                            <div class="half">
                                <p>
                                    <a href="@Url.Action("Index", "Research", new {id = "RegionalColocation2018"})" 
                                       class="btn py-2">
                                        Continue Reading
                                        <span
                                            class="ion-ios-arrow-forward">
                                        </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>