@{
    ViewBag.Title = "Publications";
}

<div class="js-fullheight" style="padding-top: 60px; padding-left: 50px; padding-right: 50px; ">
    <h2 class="h4 font-weight-bold">Conference Papers</h2>
    <ol>
        <li>
            <strong>Yan Li</strong>, Pratik Kotwal, Pengyue Wang, Shashi Shekhar, and William Northrop. 2019.
            "Trajectory-aware Lowest-cost Path Selection: A Summary of Results".
            In <i>Proceedings of the 16th International Symposium on Spatial and Temporal Databases (SSTD '19)</i> , Vienna, Austria.
            ACM, 61-69.
            (Acceptance rate: 32%, <a href="https://doi.org/10.1145/3340964.3340971">link</a>)
        </li>
        <li>
            Pengyue Wang, <strong>Yan Li</strong>, Shashi Shekhar, and William F. Northrop. 2019.
            "A Deep Reinforcement Learning Framework for Energy Management of Extended Range Electric Delivery Vehicles".
            In <i>2019 IEEE Intelligent Vehicles Symposium (IV)</i>. IEEE, 1837-1842.
            (<a href="https://ieeexplore.ieee.org/abstract/document/8813890">link</a>)
        </li>
        <li>
            <strong>Yan Li</strong>, Shashi Shekhar, Pengyue Wang, and William Northrop. 2018.
            "Physics-guided energy-efficient path selection: a summary of results".
            In <i>Proceedings of the 26th ACM SIGSPATIAL International Conference on Advances in Geographic Information Systems (SIGSPATIAL '18)</i>, Seattle, WA, USA.
            ACM, 99-108.
            (Acceptance rate: 20%, <a href="https://doi.org/10.1145/3274895.3274933">link</a>)
        </li>
        <li>
            Yiqun Xie, Jayant Gupta, <strong>Yan Li</strong>, and Shashi Shekhar. 2018.
            "Transforming Smart Cities with Spatial Computing".
            In <i>IEEE International Smart Cities Conference (ISC2 2018)</i>, Kansas City, MO.
            (<a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8656800">link</a>)
        </li>
        <li>
            <strong>Yan Li</strong>, and Shashi Shekhar. 2018.
            "Local Co-location Pattern Detection: A Summary of Results".
            In <i>10th International Conference on Geographic Information Science (GIScience 2018)</i>, Melbourne, Australia.
            Schloss Dagstuhl-Leibniz-Zentrum fuer Informatik.
            (Acceptance rate: 30%, <a href="http://drops.dagstuhl.de/opus/volltexte/2018/9338/">link</a>)
        </li>
        <li>
            Reem Y. Ali, <strong>Yan Li</strong>, Shashi Shekhar, Shounak Athavale, and Eric Marsman. 2017.
            "Supply and demand aware synthetic data generation for on-demand traffic with real-world characteristics". 
            In <i>Proceedings of the 10th ACM SIGSPATIAL Workshop on Computational Transportation Science</i>. ACM, 36-41.
            (<a href="https://doi.org/10.1145/3151547.3151554">link</a>)
        </li>
        <li>
            Zhe Jiang, <strong>Yan Li</strong>, Shashi Shekhar, Lian Rampi, and Joseph Knight. 2017. 
            "Spatial Ensemble Learning for Heterogeneous Geographic Data with Class Ambiguity: A Summary of Results". 
            In <i>Proceedings of the 25th ACM SIGSPATIAL International Conference on Advances in Geographic Information Systems (SIGSPATIAL '17)</i>, Redondo Beach, CA, USA. ACM, Article 23, 10 pages. 
            (Acceptance rate: 20%, <a href="https://doi.org/10.1145/3139958.3140044">link</a>)
        </li>
        <li>
            Emre Eftelioglu, <strong>Yan Li</strong>, Xun Tang, Shashi Shekhar, James M. Kang, and Christopher Farah. 2016.
            “Mining Network Hotspots with Holes: A Summary of Results". 
            In <i>Geographic Information Science</i>, Montreal, QC, Canada. Springer, Cham, 51–67. 
            (Acceptance rate: 30%, <a href="https://doi.org/10.1007/978-3-319-45738-3_4">link</a>)
        </li>
    </ol>
    <h2 class="h4 font-weight-bold">Journal Papers</h2>
    <ol>
        <li>
            Zhe Jiang, Arpan Man Sainju, <strong>Yan Li</strong>, Shashi Shekhar, and Joseph Knight. 2019.
            "Spatial Ensemble Learning for Heterogeneous Geographic Data with Class Ambiguity".
            <i>ACM Trans. Intell. Syst. Technol.</i> 10, 4, Article 43 (August 2019), 25 pages.
            (<a href="https://doi.org/10.1145/3337798">link</a>)
        </li>
        <li>
            Yiqun Xie, Emre Eftelioglu, Reem Ali, Xun Tang, <strong>Yan Li</strong>, Ruhi Doshi and Shashi Shekhar. 2017.
            "Transdisciplinary Foundations of Geospatial Data Science".
            <i>ISPRS International Journal of Geo-Information</i>, 6(12).
            (<a href="http://www.mdpi.com/2220-9964/6/12/395/htm">link</a>)
        </li>
    </ol>
    <h2 class="h4 font-weight-bold">Book Chapter</h2>
    <ol>
        <li>
            Zhenglong Li, Zhipeng Gui, Barbara Hofer, <strong>Yan Li</strong>, Simon Scheider, and Shashi Shekhar. 2020.
            “Geospatial Information Processing Technologies".
            In <i>Manual of Digital Earth</i>, edited by Huadong Guo, Michael F. Goodchild, and Alessandro Annoni, 1st ed.
            Springer Singapore.
            (<a href="https://www.springer.com/gp/book/9789813299146">link</a>)
        </li>
        <li>
            Shashi Shekhar, <strong>Yan Li</strong>, Reem Y. Ali, Emre Eftelioglu, Xun Tang, and Zhe Jiang. 2018.
            “Spatial and Spatiotemporal Data Mining.”
            In <i>Comprehensive Geographic Information Systems</i>, edited by Bo Huang, 264–86.
            Oxford: Elsevier. (<a href="https://doi.org/10.1016/B978-0-12-409548-9.09594-4">link</a>)
        </li>
        <li>
            Emre Eftelioglu, Reem Y Ali, Xun Tang, Yiqun Xie,<strong>Yan Li</strong>, and Shashi Shekhar. 2017.
            “Geospatial Data Science: A Transdisciplinary Approach”. 
            In <i>Geospatial Data Science Techniques and Applications</i>, 17–56. CRC Press.
            (<a href="https://www.taylorfrancis.com/books/e/9781315228396/chapters/10.1201/b22052-1">link</a>)
        </li>
    </ol>
</div>