@{
    ViewBag.Title = "Teaching";
}

<div style="padding-top: 60px; padding-left: 50px; padding-right: 50px; ">
    I have been the teaching assistant for:
    <h2 class="h4 font-weight-bold">Graduate Level Courses</h2>
    <ul>
        <li>CSCI 5715: Spatial Computing</li>
        <li>CSCI 5708: Architecture and Implementation of Database Management Systems</li>
    </ul>
    <h2 class="h4 font-weight-bold">Undergraduate Level Courses</h2>
    <ul>
        <li>CSCI 4707: Practice of Database Systems</li>
        <li>CSCI 2011: Discrete Structures of Computer Science</li>
        <li>CSCI 1113: C++ Programming</li>
    </ul>
</div>
